#
#    fty-security-wallet-rest - Security wallet REST API
#
#    NOTE: This file was customized after generation,
#    take care to keep this during updates.
#
#    Copyright (C) 2018 - 2020 Eaton
#
#    This program is free software; you can redistribute it and/or modify
#    it under the terms of the GNU General Public License as published by
#    the Free Software Foundation; either version 2 of the License, or
#    (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU General Public License for more details.
#
#    You should have received a copy of the GNU General Public License along
#    with this program; if not, write to the Free Software Foundation, Inc.,
#    51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.

Source: fty-security-wallet-rest
Section: net
Priority: optional
Maintainer: fty-security-wallet-rest Developers <eatonipcopensource@eaton.com>
Standards-Version: 4.0.1.0
Build-Depends: debhelper (>= 9),
    cmake (>=3.0),
    fty-cmake-dev,
    libfty-cmake-rest-dev,
    pkg-config,
    libcxxtools-dev,
    libtntnet-dev,
    libtntdb-dev,
    libfty-common-dev,
    libfty-common-logging-dev,
    libfty-common-rest-dev,
    libfty-common-socket-dev,
    libfty-security-wallet-dev,
    asciidoc-base | asciidoc, xmlto,
    dh-autoreconf

Package: libfty-security-wallet-rest1
Architecture: any
Section: net
Priority: optional
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: grouping of end-user solution with fty-security-wallet-rest

# Customization over zproject-generated code follows
# for the legacy-named metapackage to group the common
# installation dependency for other components:
# TODO: Revise the list, this one was copied from another project
Package: fty-security-wallet-rest
Architecture: any
Section: net
Priority: optional
Depends:
    libfty-security-wallet-rest1 (= ${binary:Version}),
    ${misc:Depends},
    tntnet-runtime,
    malamute,
    libfty-common1,
    libfty-common-mlm1,
    libfty-common-socket1,
    libfty-common-db1,
    libfty-common-rest1,
    ipc-data
Recommends: msmtp
Description: grouping of end-user solution with fty-security-wallet-rest
